.center-mode {
    width: 21cm;
    padding: 1cm 1cm 2cm;
    border: 1px solid #333;
    box-sizing: border-box;
}

.question-text {
    text-align: justify;
}

.answer-text {
    text-align: justify;
}

@media print {
    .center-mode {
        border: none;
    }
}